[submodule "Libraries/vdebug"]
	path = Libraries/vdebug
	url = https://github.com/marcgardent/armory3D-VDebug.git
[submodule "Libraries/basicia"]
	path = Libraries/basicia
	url = https://github.com/marcgardent/basicia.git